.createPizza {
    text-align: center;
}
.createPizza input{
    font-size: 20px;
    padding: 20px;
    background-color: #285e8a;
    border: 2px solid #336e9e;
}
.createPizza select{
    font-size: 20px;
    padding: 10px;
    background-color: #a3cef1;
    border: 2px solid #336e9e;
}
.createPizza p{
    text-align: center;
}

.container{
    padding:20px;
}
.onLeft{
    padding: 20px;
    text-align: left;
}
.button{
    width: 400px;
}