body{
    background-color: #73aadde0;
    font-size: 22px;
    font-family: sans-serif;
}
#root{
    display: flex;
    justify-content: center;
}
form{
    background-color: #50779ce0;
    padding: 20px;
    margin: 10px;
}
.addIngredients{
    text-align: center;
}
.addIngredients input{
    font-size: 20px;
    padding: 20px;
    background-color: #285e8a;
    border: 2px solid #336e9e;
}
ul,p{
    margin: 20px;
    padding: 20px;
}
